html, body, #root {
  height: 100%;
  box-sizing: border-box;
  word-break: break-word;
}
*, *:before, *:after {
  box-sizing: inherit;
  word-break: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#graph {
  /* height: calc(100% - 58px); */
  /* width: calc(100vw - 604px); */
  /* margin: auto; */
  position: absolute;
  top: 60px;
  bottom: 5px;
  left: 68px;
  right: 68px;
  overflow: hidden;
  z-index: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: inherit;
  -webkit-box-shadow: inherit !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

#graph canvas{
  width: 100% !important;
}